{% extends 'Login/login.html.twig' %}

{% block content %}
<h1 class="title_section">Réinitialiser le mot de passe</h1>
    <div class="text-secondary max-w-[589px] w-11/12 mx-auto lg:mx-auto lg:w-5/6 font-secondary border border-solid border-500 p-3 flex flex-col gap-2">
        <div class="p-4 grid gap-6">
            <p>
                Un email contenant un lien pour réinitialiser votre mot de passe vous a été envoyé si un compte est associé à votre adresse email. 
                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'messages') }}.
            </p>
            <p>Pensez à regarder dans votre boîte de SPAM si vous ne recevez aucun email ou <a href="{{ path('app_forgot_password_request') }}" class="underline underline-offset-2">renvoyer un email</a>.</p>
        </div>
    </div>
{% endblock %}
