{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <main class="pt-28 flex justify-evenly text-secondary">
        {% block reservation %}
        {% endblock %}
    </main>
{% endblock %}
{% block scripts %}
    <script src={{ asset('/js/reservation/'~'script.js') }}></script>
{% endblock %}