{% extends "SignUp/sign.html.twig" %}

{% block content %}
<section class="min-h-[calc(100vh-300px)] flex flex-col lg:text-lg font-secondary justify-center items-center gap-12">
    <div class="text-center text-secondary max-w-[589px] w-11/12 mx-auto lg:mx-auto lg:w-5/6 font-secondary border border-solid border-500 p-3">
        {% if result == "success" %}
        <p class="mb-4">Un mail de confirmation vous a été envoyé !</p>
        <p class="mb-6">Veuillez le valider afin d'accéder à toutes les fonctionnalités lors de votre connexion.</p>
        <small class="">Si vous n'avez rien reçu, veuillez vérifier votre boîte de <span class="underline underline-offset-2">SPAM</span></small>
        {% if again != 'true' %}
        <p class="pt-8">Sinon, vous pouvez <a href="{{ path('signUp-sendEmail', { 'again' : 'true' }) }}" class="hover:underline hover:underline-offset-2">renvoyer un mail.</a></p>
        {% endif %}
        {% else %}
        <p class="">Une erreur est survenue.</p>
        <p>Nous vous invitons à prendre contact directement avec nous.</p>
        <div class="my-4 font-semibold tracking-wider">
            <div class="flex gap-2 justify-center">
                <p>Téléphone :</p>
                <a href="tel:" class="hover:underline hover:underline-offset-2">01 23 45 67 89</a>
            </div>
            <div class="flex gap-2 justify-center">
                <p>Email :</p>
                <a href="mailto:" class="hover:underline hover:underline-offset-2">lorem@ipsum.com</a>
            </div>
        </div>
        <p>Veuillez nous excuser pour la gêne occasionnée.</p>
        {% endif %}
    </div>
    <button class="p-4 group w-fit button_style"><a href="{{ path('home') }}" class="group-hover:text-secondary duration-150">Revenir à l'accueil</a></button>
</section>
{% endblock %}