<div class="text-secondary bg-600">
    <div class="py-4 drop-shadow-lg">
        <section class="after">
            <p class="w-11/12 mx-auto max-w-[598px] pb-3">Ajouter une photo :</p>
            <form method="POST" class="w-11/12 mx-auto max-w-[598px] lg:flex lg:justify-between">
                <div class="pb-2">
                    <label for="file" hidden="hidden" >Fichier :</label>
                    <input type="file" id="file" name="file" accept="image/png, image/jpeg" class="w-full">
                </div>
                <div class="flex gap-3 lg:w-1/2">
                    <label for="title" hidden="hidden">Titre :</label>
                    <input type="text" id="title" name="title" class="input_carousel input_withoutIcon input_white" maxlength=30 minLength=2 placeholder="Titre...">
                    <button type="submit" id="add_image" class="input_carousel button_profil"><i class="fa-solid fa-plus"></i></button>
                </div>
            </form>
        </section>
        <section>
        </section>
    </div>
</div>