{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <main class="pt-24 flex justify-evenly form_main" id="login">
        <section class="w-full lg:w-[45%] mb-16 ">
            <div class="w-full mx-auto relative flex flex-col top-1/2 -translate-y-1/2">
                {% block content %}
                {% endblock %}
            </div>
        </section>
        <div class="-z-10 2xl:w-[70%] hidden lg:block w-[55%] image_container login_image relative"></div>
    </main>
    
{% endblock %}
{% block scripts %}
<script src={{ asset('/js/signUp-login/'~'script.js') }}></script>
{% endblock %}
     