@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --color-primary : rgb(23, 21, 21);
}

/* @font-face {
    font-family: 'Petit Formal Script';
    src : 
    url('./fonts/petit_format_script/PetitFormalScript-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Alice';
    src : 
    url('./fonts/alice/Alice-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Open Sans';
    src : 
    url('./fonts/open_sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype'),
} */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:wght@400;600;700&family=Petit+Formal+Script&display=swap');
html, body, main {
    height: fit-content;
}
.image {
    background:  linear-gradient(rgba(23,21,21,0) 50%, rgb(23, 21, 21)) , center / cover no-repeat url('../../public/images/home/home-small.webp');
}

.carousel_pic {
    grid-template-columns: repeat(3, 100%);
    /* transform: translateX(calc(-33.33% + (16px * 2))); */
}
.carousel_button {
    @apply h-[15px] w-[15px] bg-400 rounded-full hover:scale-125 ease-in duration-75 drop-shadow-lg;
}
.carousel_button.active {
    @apply bg-500;
}
.footer_title {
    @apply uppercase font-semibold;
}
.scedules > li {
    @apply grid ;
    grid-template-columns: 80px auto;
}
.scedules ul {
    @apply grid grid-cols-2 ;
}
.scedules ul > li {
    @apply text-center relative;
}
.scedules ul > li:first-child {
    @apply after:h-full after:w-[1px] after:absolute after:bg-secondary after:left-full;
}

@media screen and (min-width: 768px) {
    footer, footer div:nth-child(2), footer div:nth-child(2) div {
        gap : clamp(1rem, -3.215rem + 8.781vw, 4.688rem);
    }
    .image {
        background:  linear-gradient(rgba(23,21,21,0) 50%, rgb(23, 21, 21)) , center 60% / cover no-repeat url('../../public/images/home/home-medium.webp');
    }
    .carousel_pic {
        grid-template-columns: repeat(3, 671px);
    }
}
@media screen and (min-width: 992px) {
    .image {
        background:  linear-gradient(rgba(23,21,21,0) 50%, rgb(23, 21, 21)) , center 60% / cover no-repeat url('../../public/images/home/home-large.webp');
    }
}
@media screen and (min-width: 1300px) {
    .image {
        background:  linear-gradient(rgba(23,21,21,0) 50%, rgb(23, 21, 21)) ,  center 60% / cover no-repeat url('../../public/images/home/home-extraLarge.webp');
    }
}