
{% extends "Card/card.html.twig" %}

{% block subTitle %} - Plats{% endblock %}

{% block section %}
<div class="main-content flex-col">
    <section class="" id="section-starter">
        <fieldset class="w-11/12 mx-auto max-w-[598px] border border-solid border-500 p-3 ">
            <legend>
                <h2 class="px-2 text-xl">Plats</h2>
            </legend>
                <ul class="card-items">
                    {% for food in foods %}
                        <li>
                            <div>
                                <h3>{{ food.title }}</h3>
                                <p class="comment" >{{ food.description}}</p>
                            </div>
                            <p class="price">{{ food.price|number_format(2, '.', ',') }}</p>
                        </li>
                    {% endfor %}
                </ul>
        </fieldset>
    </section>
    <div class="my-12 h-12 w-[200px] bg-secondary drop-shadow-lg m-auto cursor-pointer flex items-center justify-center hover:bg-400 group duration-150 md:w-[280px] md:h-[70px]" id="card-booking"><a href="" class="text-primary font-secondary group-hover:text-secondary duration-150 text-lg lg:text-xl">Réservez maintenant !</a></div>
    <a href="{{ path('card') }}" class="card_backLink"><i class="fa-solid fa-arrow-left px-2"></i>Revenir à la sélection</a>
</div>
{% endblock %}
