{% extends 'base.html.twig' %}

{% block title %} Inscription{% endblock %}

{% block body %}
    <main class="pt-24 flex justify-evenly" id="sign-up">
        <section class="w-full lg:w-[45%] mb-16">
            <div class="title_container bg-primary">
                <h1 class="title_section">Inscription</h1>
                {% block content_subtitle %}
                {% endblock %}
            </div>
        </section>
        <div class="-z-10 2xl:w-[70%] hidden lg:block w-[55%] reservation_container contact_image relative"></div>
    </main>
{% endblock %}
{% block scripts %}
<script src={{ asset('/js/signUp-login/'~'script.js') }}></script>

{% endblock %}
