{% extends 'base.html.twig' %}

{% block title %} Inscription{% endblock %}

{% block body %}
    <main class="pt-24 flex flex-col justify-evenly" id="sign-up">
        <div class="title_container bg-primary">
            <h1 class="title_section">Inscription</h1>
            <img src={{ asset('/images/svg/'~ "line-white.svg") }} alt="un point entouré de deux traits de longeur égales" class="w-[100px]">
            {% block content_subtitle %}
            {% endblock %}
        </div>
        {% block content %}
        {% endblock %}
    </main>
{% endblock %}
{% block scripts %}
<script src={{ asset('/js/signUp-login/'~'script.js') }}></script>

{% endblock %}
